In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/ANHIG/IMGTHLA/Latest/Allelelist.3430.txt"
data = pd.read_csv(url, comment="#")
data.head()

   AlleleID          Allele
0  HLA00001   A*01:01:01:01
1  HLA02169  A*01:01:01:02N
2  HLA14798   A*01:01:01:03
3  HLA15760   A*01:01:01:04
4  HLA16415   A*01:01:01:05

In [8]:
def parse_allele(allele):
    values = allele.split(":")
    if len(values) > 1:
        return values[0] + ":" + values[1]
    else:
        return None

data["parsed_allele"] = data.Allele.transform(parse_allele)
data.head()

   AlleleID          Allele parsed_allele
0  HLA00001   A*01:01:01:01       A*01:01
1  HLA02169  A*01:01:01:02N       A*01:01
2  HLA14798   A*01:01:01:03       A*01:01
3  HLA15760   A*01:01:01:04       A*01:01
4  HLA16415   A*01:01:01:05       A*01:01

In [24]:
print("Absolute total alleles: {}".format(data.shape[0]))
unique_alleles = data.parsed_allele.unique()
print("Total alleles: {}".format(len(unique_alleles)))
print("A alleles: {}".format(len(list(filter(lambda a: a.startswith("A*") if a else False, unique_alleles)))))
print("B alleles: {}".format(len(list(filter(lambda a: a.startswith("B*") if a else False, unique_alleles)))))
print("C alleles: {}".format(len(list(filter(lambda a: a.startswith("C*") if a else False, unique_alleles)))))
print("DPA1 alleles: {}".format(len(list(filter(lambda a: a.startswith("DPA1*") if a else False, unique_alleles)))))
print("DPB1 alleles: {}".format(len(list(filter(lambda a: a.startswith("DPB1*") if a else False, unique_alleles)))))
print("DQA1 alleles: {}".format(len(list(filter(lambda a: a.startswith("DQA1*") if a else False, unique_alleles)))))
print("DQB1 alleles: {}".format(len(list(filter(lambda a: a.startswith("DQB1*") if a else False, unique_alleles)))))
print("DRB1 alleles: {}".format(len(list(filter(lambda a: a.startswith("DRB1*") if a else False, unique_alleles)))))

Absolute total alleles: 29417
Total alleles: 19144
A alleles: 4247
B alleles: 5138
C alleles: 3985
DPA1 alleles: 98
DPB1 alleles: 1164
DQA1 alleles: 130
DQB1 alleles: 1374
DRB1 alleles: 2086

In [25]:
data[data.parsed_allele == "DPB1*104:01"]

       AlleleID             Allele parsed_allele
21337  HLA02046  DPB1*104:01:01:01   DPB1*104:01
21338  HLA16361  DPB1*104:01:01:02   DPB1*104:01
21339  HLA16904  DPB1*104:01:01:03   DPB1*104:01
21340  HLA17670  DPB1*104:01:01:04   DPB1*104:01
21341  HLA17671  DPB1*104:01:01:05   DPB1*104:01
21342  HLA21676  DPB1*104:01:01:06   DPB1*104:01
21343  HLA22274     DPB1*104:01:02   DPB1*104:01
21344  HLA25762     DPB1*104:01:03   DPB1*104:01
21345  HLA26403     DPB1*104:01:04   DPB1*104:01

In [26]:
data[data.parsed_allele == "DPB1*10:401"]

Empty DataFrame
Columns: [AlleleID, Allele, parsed_allele]
Index: []

In [27]:
data[data.parsed_allele == "B*15:228"]

      AlleleID    Allele parsed_allele
8276  HLA06903  B*15:228      B*15:228

In [28]:
data[data.parsed_allele == "B*152:28"]

Empty DataFrame
Columns: [AlleleID, Allele, parsed_allele]
Index: []